.lobby {
    background-color: #2F4274;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lobby-startButton {
    margin-top: 50px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffffff;
    background: linear-gradient( 60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: 1000px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.lobby-startButton:hover {
    border: 6px solid #07b39b;
    box-shadow: 0px 0px 60px #1098ad;
}

.lobby-notice {
    text-align: left;
    margin-top: 60px;
}

.lobby-rules {
    color: white;
    margin-top: 10px;
}

.lobby-rules:hover {
    font-weight: 800;
}